<style>
  main {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
  }
</style>

<main class="main">
  <topbar (endDateTimeSetEvent)="updateEndDateTime($event)"/>

  <time-display/>

  @if (endDateTime) {
    @if (endDateTime > DateTime.now()) {
<!--      <div class="progressbar">-->
<!--        <div class="left"></div>-->
<!--        <div class="right"></div>-->
<!--      </div>-->
      <div class="end">Ende: {{endDateTime.toLocaleString(DateTime.TIME_SIMPLE)}}</div>
      <div class="countdown">noch {{remainingTime?.toHuman({listStyle: "long"})}}</div> <!-- TODO Milliseconds? -->
    } @else {
      <div class="end">Zeit abgelaufen.</div>
    }
  }
</main>
