<style>
  main {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
  }
</style>

<main class="main">
  <topbar (endDateTimeSetEvent)="updateEndDateTime($event)"/>

  <time-display/>

  @if (endDateTime) {
    @if (Date.now() < endDateTime.getTime()) {
<!--      <div class="progressbar">-->
<!--        <div class="left"></div>-->
<!--        <div class="right"></div>-->
<!--      </div>-->
      <div class="end">Ende: {{
          Intl.DateTimeFormat(navigator.languages, {
            hour: "2-digit",
            minute: "2-digit",
          }).format(endDateTime)
        }}
      </div>
<!--      <div class="countdown"></div>-->
    } @else {
      <div class="end">Zeit abgelaufen.</div>
    }
  }
</main>
