<topbar (endDateTimeSetEvent)="updateEndDateTime($event)" (resetEvent)="reset()"/>
<main class="container-fluid align-content-center justify-content-center main">
  <div class="row mx-auto">
    <time-display/>
  </div>

  @if (state != State.Init) {
    <div class="row progress w-75 mx-auto bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" [style.width]="progress"></div>
    </div>
    @if (state == State.Running) {
      <div class="row end justify-content-center">Ende: {{ endDateTime.toLocaleString(DateTime.TIME_SIMPLE) }}</div>
      <div class="row countdown justify-content-center">noch {{remainingTime.rescale().set({milliseconds: 0}).rescale().toHuman()}}</div>
    }
  }
  @if (state == State.Finished) {
    <div class="row end justify-content-center">Zeit abgelaufen.</div>
  }
</main>
